{% extends "base.html" %}

{% block content %}
	
	<h1>Neue Seite anlegen</h1>
	<br>

	<form method="post" action="{% url 'update_cycle:new' %}">
		{% csrf_token %}
		{{ form }}
		<input type="submit" value="Submit">
	</form>

{% endblock content %}

<!-- <form action="{% url 'update_cycle:create' %}", method="post">

		{% csrf_token %}

		<label for="name">Name:</label>
		<input type="text" name="name">
		<br>

		<label for="url">URL:</label>
		<input type="text" name="url">
		<br>

		<label for="comment">Kommentar:</label>
		<textarea name="comment"></textarea>
		<br>

		<label for="contact_person">Ansprechpartner:</label>
		<input type="text" name="contact_person">
		<br>

		<label for="next_update_at">Nächste Aktualisierung:</label>
		<input type="date" name="next_update_at" placeholder="YYYY-MM-DD">
		<br>

		<input type="submit" value="Seite hinzufügen">

	</form> -->